.login-input {
    color: rgb(63, 78, 37);
    background-color: whitesmoke;
    border: 1px solid rgb(216, 216, 216);
    padding: .5rem .5rem;
}

.login-button {
    background-color: darkolivegreen;
    padding: .3rem 6rem;
    color: white;
    border: 2px solid darkolivegreen;
    text-transform: uppercase;
}

.login-button:hover {
    background-color: white;
    padding: .3rem 6rem;
    color: darkolivegreen;
    font-weight: 600;
    border: 2px solid darkolivegreen;
}

.login-text {
    color: darkgoldenrod;
}

.login-text:hover {
    color: rgb(72, 114, 0)
}