.navbar {
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 5px 10px 8px #8888880e;
}

.navbar-link {
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.logout-button:hover {
    color: darkolivegreen;
}