.item {
    border: 1px solid lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    padding-bottom: 3rem;
    position: relative;
}

.item>img {
    border-radius: 2rem;
}

.manage-button {
    bottom: 1rem;
    position: absolute;
}