@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.banner-button {
    border: none;
    background: none;

}

.banner-button span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 10px;
    padding-right: 15px;
    text-transform: uppercase;
}

.banner-button svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.banner-button:hover svg {
    transform: translateX(0);
}

.banner-button:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.carousel-indicators [data-bs-target] {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid transparent !important;
    border-radius: 10px;
    background-color: forestgreen !important;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: forestgreen;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.banner-button:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.banner {
    background-color: whitesmoke;
}

.banner2 {
    justify-content: space-evenly;
    align-items: center;
}

.banner2 div {
    padding: 2rem;
}

.product-image {
    height: 350px;
}

.product-name-text {
    text-align: start;
}

.h1-text-highlight-b1 {
    color: forestgreen;
}

.h1-text-highlight-b2 {
    color: #de7a03;
}

.h1-text-highlight-b3 {
    color: orangered;
}

.h1-text-highlight-2 {
    color: rgb(73, 73, 73);
}

.product-detail {
    text-align: start;
    color: rgb(99, 99, 99);
}

.banner-h2 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    line-height: 30px;
    text-align: start;
}

/* media query for product aka first section */
@media only screen and (max-width: 995px) {
    .banner2 {
        flex-wrap: wrap;
    }

    .first-order {
        order: 1;
    }

    .second-order {
        order: 0;
    }
}

@media only screen and (max-width: 440px) {
    .product-image {
        max-height: 310px;
    }
}