.add-item-input {
    color: rgb(63, 78, 37);
    background-color: whitesmoke;
    border: 1px solid rgb(216, 216, 216);
    padding: .2rem .3rem;
}

.add-item-input:focus {
    outline: 1px solid forestgreen;
}

.add-item-button {
    background-color: darkolivegreen;
    color: white;
    border: 2px solid darkolivegreen !important;
    padding: .3rem 0rem;
    transition: background-color .5s, color 1s;
}

.add-item-button:hover {
    background-color: white;
    color: darkolivegreen;
}

@media only screen and (min-width: 900px) {
    .custom-input-container {
        max-width: 696px;
    }
}