.manage-item-table {
    border-collapse: collapse;
    width: 100%;
    text-align: start;
}

.manage-item-table h5 {
    font-size: 16px;
    color: rgb(63, 63, 63);
}

.manage-item-table td,
.manage-item-table th {
    border: 1px solid #ddd;
    padding: .5rem 1rem;
}

.manage-item-table tr {
    transition: background-color .5s;
}

.manage-item-table tr:hover {
    background-color: #ddd;
}

.manage-item-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkolivegreen;
    color: white;
}

.remove-button {
    background-color: rgb(153, 33, 33);
    color: white;
    padding: 0rem 1.48rem;
    border: 2px solid rgb(153, 33, 33);
    transition: border 1s, color .5s;
}

.remove-button:hover {
    background-color: #ddd;
    color: rgb(153, 33, 33);
    border: 2px solid rgb(153, 33, 33);
}

@media only screen and (min-width: 1000px) {
    .custom-table-container {
        max-width: 936px;
    }
}